
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container-head{
    background-image: url("./partners/GD\ BG@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 650px;
}
#address{
    width: 611px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    padding: 0 15px;
}
#verify-btn{
    width: 124px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}
.header-txt{
    text-align: center;
}

.header-txt h1{
    font-size: 50px;
    color: #ffffff;
}
.header-txt p{
    font-size: 20px;
    color: #ffffff;
}
.spacer{
    height: 100px;
    margin-bottom: 9em;
}
.certificate{
    margin-top: 4em;
    width: 1010px;
    height: 464px;
    background-color: #F5F5F5;
    border-radius: 12px;
    box-shadow: -4px 9px 94px -6px rgba(87,82,82,0.75);
}
.spn-line{
    border-bottom: 2px solid black;
    padding-bottom: 8px;
}
.spn-img-logo img{
    margin-right: 10px;
}
.footer-box{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    height: 45px;
    width: 100%;
}